aiohttp==3.5.4
apiai==1.2.3
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.10.15
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
future==0.17.1
get==1.0.3
html5lib==1.0.1
idna==2.7
joblib==1.2.0
multidict==4.5.2
np==1.0.2
numpy==1.17.0
pandas==0.25.0
pd==0.0.1
post==1.0.2
psutil==5.4.8
public==2.0.1
pycparser==2.19
PySocks==1.7.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
python-telegram-bot==11.1.0
pytz==2019.2
query-string==1.0.2
request==1.0.2
requests==2.7.0
scikit-learn==0.21.3
scipy==1.3.0
six==1.11.0
sklearn==0.0
slackclient==1.3.0
slacker==0.9.65
telebot==0.0.3
telepot==12.7
urllib3==1.24.1
webencodings==0.5.1
websocket-client==0.54.0
yarl==1.3.0
